* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bckgrd {
    background-image: url(../images/bckgrd.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.top_header {
    width: 100%;
    height: 14vw;
    display: flex;
    justify-content: space-between;
    background-color: black;
    opacity: 0.9;
}

.menu_nav {
    margin-top: 6%;
    width: 55%;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 40px;
    font-size: 30px;
}

.menu a:hover {
    color: rgba(240, 240, 109, 0.842);
}

.menu li:hover {
    transform: scale(1.1);
    transition: ease 0.2;
}

figure {
    margin: 0;
    padding: 0;
    width: 20%;
}

#home img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}


#accueil {
    height: 700px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(241, 238, 238);
}

#accueil h1 {
    font-size: 60px;
}

#accueil h2 {
    font-size: 50px;
}

#accueil a {
    text-decoration: none;
    color:rgb(241, 238, 238);
}

#accueil h1:hover {
    transform: scale(1.4);
    transition: ease 0.1;
}

#accueil h1 > a:hover {
    color:rgba(96, 134, 238, 0.877);
}
#accueil h2:hover {
    transform: scale(1.8);
    transition: ease 0.1;
}

#accueil h2 > a:hover {
    color:rgba(248, 20, 4, 0.877);
}

.menu a {
    text-decoration: none;
    color : rgb(185, 185, 184);
}

#apropos {
    height: 950px;
    max-height: 950px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

#apropos img {
    height: 650px;
}

.bckgrd2 {
    background-image: url(../images/wallpaper.jpg) ;
    background-repeat:no-repeat;
    background-size: cover;
}

#apropos h2 {
    font-size: 3.5vw;
    width: 100%;
    height: 3vw;
    padding-left: 30px;
    margin-bottom: 60px;
}

div.infos {
    padding-left: 50px;
    padding-bottom: 400px;
}

.avatar {
    width: 30%;
    height: auto;
    display: flex;
    margin: 2%;
}

.infos {
    font-size: 1vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.infos a {
    text-decoration: none;
    color: gray;
}

.infos p {
    color: rgba(96, 134, 238, 0.877);
    font-size: 1.2vw;
    font-style: italic;
    width: 570px;
}

.infos ul {
    font-size: 1.1vw;
    color: rgba(248, 20, 4, 0.877);
}

.infos button {
    width: 5rem;
    padding: 5px;
    background-color: rgb(179, 177, 177);
}

.infos > button > a {
    font-size: 1rem;
    font-weight:bold;
    color: white;
}

#contact {
    height: 950px;
    max-height: 950px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bckgrd3 {
    background-image: url(../images/wallpaperflare.com_wallpaper2.jpg) ;
    background-repeat:no-repeat;
    background-size: cover;
}

#contact h2 {
    font-size: 3.5vw;
    width: 100%;
    height : 20%;
    padding-left: 30px;
}

#contact p {
    color:rgb(255, 255, 255);
    padding-left: 800px;
}

#contact button {
    margin-left: 800px;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 5rem;
    padding: 5px;
    font-size: 1rem;
    font-weight:bold;
    background-color: gray;
    color: white;
}

#contact textarea {
    overflow: scroll;
}

.map {
    width: 40%;
    height: 50px;
    padding-bottom: 100px;
}

.coordonnees {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.coordonnees > p > a {
    color: yellow;
}

input:placeholder-shown {
    font-style: italic;
}