body {
    margin: 4em;
}

.floatLeft {
    float:inline-start;
}

h2.rightText {

    text-align: right;
}

.devWeb {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.experiences {
    display: flex;
    width: 70vw;
    flex-direction: column;
}

.formations {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.competences {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.contact {
    display: flex;
    width: 30%;
    align-items:stretch;
    justify-content: left;
    flex-direction: column;
}

.separateur {
    width: 100%;
    height: 5em;
}

p.marginLeft {
    margin-left: 50px;
}
ul.marginLeft {
    margin-left: 50px;
}

.cote {
    display: flex;

}

.header {
    display: flex;

}

.dessusDessous {
    display: flex;
    flex-direction: column;
}

/* Polices et bordures */

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shaBox {
    border: 5px black double;
    border-radius: 15px 7px;
    box-shadow: 10px 10px 20px black;
    padding: 5px 20px 5px 20px;
    background-color: rgb(209, 97, 119);
}

.simpleBorder {
    padding: 0px 30px 0px 30px;
    margin : 70px 20px 0px 0px;
    background-color: rgb(126, 126, 240);
}

#nom {
    font-size: 25px;
    font: bold;
}

.devWeb {
    text-decoration: underline;
    font-size: 1.5em;
    font: bolder;
}